/* 全局样式 */
html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
}
/* 设置面包屑的整体样式 */
.el-breadcrumb{
 margin: 15px;
 font-size: 14px;
}
/* 设置卡片视图的整体样式 */
.el-card{
    /* 设置卡片视图底部的阴影 */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;

}
/* 设置表格的整体样式 */
.el-table{
    margin: 15px;
}